#social {
  position: absolute;
  margin: 82px 4px 0px 0px;
}



@media only screen and (max-width:900px) {
  body {
    font-size: 85%;
  }
  
  #logo h1 {
    height: 35px;
    width: 35px;
  }
  
  #logo h2 {
    font-size:2.2em;
  }
  
  #social {
    top: 372px;
    background: red;
  }
  
  .col-3 p {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }
}

@media only screen and (max-width:1108px) {
  .wrapper {
    width: 90%;
  }
  
  #social {
    top: 72px;
  }
}

