#social {
  position: absolute;
  margin: 82px 4px 0px 0px;
}

@media only screen and (max-width:1108px) {
  .wrapper {
    width: 90%;
  }
}


@media only screen and (max-width:900px) {
  body {
    font-size: 85%;
  }
  h1 {
    35px
  }
}